#audio_player_tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

.current_song_division {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.center_division {
  display: block;
  width: max(40vw, 300px);
}

.center_upper_division {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.volume_division {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
