/* This is code for Main Tab Search Page */
#search_bar::placeholder {
  color: #86888a;
  opacity: 1;
}

.music_result {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 5rem);
  padding: 0.5rem;
}

.music_result:hover {
  background-color: #4b4c4c;
  cursor: pointer;
}
