/* This is code for Main Tab Search Page */
#search_bar::placeholder {
  color: #86888a;
  opacity: 1;
}

.sign_up {
  color: gray;
}

.sign_up:hover {
  color: lightgray;
  transition: color 0.5s;
}

.music_result:hover {
  background-color: #4b4c4c;
  cursor: pointer;
}

.sign_up:hover {
  cursor: pointer;
  color: lightgray;
}
